{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('bundles/app/css/login.css') }}" rel="stylesheet" />

{% endblock %}

{% block body %}
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
<div id="content-block">
    <div class="container">
        <div class="card card-login bg-dark">
            <div class="card-header mx-auto bg-dark">
                <div class="row">
                    <h1>Calories Calculator</h1>
                </div>
                <hr>
                <div class="row">

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                        <input type="submit" value="Calculate" />
                    {{ form_end(form) }}
                </div>\
            </div>
        </div>
    </div>
</div>
{% endblock %}
