<div class="fh5co-hero">
    <div class="fh5co-overlay"></div>
    <div id="header-img" class="fh5co-cover" data-stellar-background-ratio="0.5">
        <div class="desc animate-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h2>Fitness &amp; Health <br>is a <b>Mentality</b></h2>
                        <p><span>Created with <i class="icon-heart3"></i> by the fine folks at <a href="http://freehtml5.co" class="fh5co-site-name">FreeHTML5.co</a></span></p>
                        <span><a class="btn btn-primary" href="#">Start Your Journey</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>