<div class="col-md-12 checkout-wrap-container">
    <div class="checkout-wrap">
        <ul class="checkout-bar">

            <li class="visited first">
            </li>

            <li class="previous visited"></li>


            <li class="active"></li>

            <li class="next"></li>

            <li class=""></li>

            <li class=""></li>

        </ul>
    </div>
</div>