#content-block {

    width: 100%;
    background-color: #1a1a1a;
    color: whitesmoke;
}

#content-block form{
    width: 100%;
}

#life_style_life_Style div {
    padding-left: 0px;
}

#life_style_life_Style label {
    padding-left: 20px;
}

#life_style_life_Style div {
    font-size: 15px;
    width: 50%;
    padding-top: 20px;
    margin: 0 auto;
}

.custom-btn {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 0px;
}



.lifestyle-title {
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
}

legend {
    display: none;
}

hr {
    display: block;
    margin-before: 0.5em;
    margin-after: 0.5em;
    margin-start: auto;
    margin-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

#food_preferences{
    width: 50%;
    margin: 0 auto;
    font-size: 20px;
}

#food_preferences select{
    width: 60px;
    float: right;
}