
.fh5co-lightgray-section {
    width: 100%;
}

.text-center{
    width: 100%;
}


#content-block{
  min-height: 1000px;
  background-color: #4d4d4d;
  width: 100%;
}

#footer {
  margin-left: 15px;
  margin-right: 15px;
}
